$primary: rgb(84, 166, 254);
$primary-light: rgb(134, 175, 252);

$secondary: rgb(215, 212, 219);
$secondary-light: rgb(240, 239, 244);

$danger: rgba(255, 0, 0, 0.454);
$info: rgba(48, 198, 163, 0.687);
